<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">

    <div class="card-body">
        <form th:action="@{/admin/addTeams}" method="POST">
            <div class="mb-3">
                <div class="row">
                    <div class="col-1">
                        <label for="name" class="form_label text-right">Название команды</label>
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
            </div>
        </form>
    </div>


</div>


</body>
</html>
