<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">
    <div class="col-12 mt-3">
        <form method="post" th:action="@{/profile}" class="row">
            <div class="row mt-2">
                <div class="col-4 text-right">
                    <label for="name" class="form_label">Name film: </label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" id="name" name="name" th:value="${players.name}">
                </div>
            </div>
            <div class="col-12 mt-3">
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>

        </form>
    </div>
</div>
</body>
</html>