<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymleaf.org">
<head th:replace="~{fragments/title}"></head>
<body>
<div class="container">
  <div class="row">
    <div class="card mt-3" th:each="team : ${teams}">
      <div class="row">
        <div class="col-sm-5">
            <div class="h4" th:text="${team.name}"></div>
            <div class="text-center mt-6 col-6">
                <img th:src="@{/atl_mad.png}" class="card-img-top mb-3" alt="img">
            </div>
        </div>
        <div class="col-sm-7">
            <div class="card-body" th:each="player : ${team.players}">
                <h5 class="col" th:text="${player.name}"></h5>
                <div class="col mt-3">
                    <p>возраст [[${player.age}]], пол [[${player.gender}]], рост [[${player.height}]], вес [[${player.weight}]]</p>
                </div>
                <p class="col" th:text="${player.info}"></p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
